.button {
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all .1s ease-in;
}

.button:hover {
  opacity: .6;
}
