.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #f00;
  padding-top: 5px;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
}

.popup__input-error:last-of-type {
  min-height: 48px;
}

@media screen and (max-width: 665px) {
  .popup__input-error {
    min-height: 28px;
  }

  .popup__input-error:last-of-type {
    min-height: 44px;
  }
}
