.gallery__image-like-btn {
  background: none;
  border: none;
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/gallery/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all .1s ease-in;
}

.gallery__image-like-btn:hover {
  opacity: .5;
}

.gallery__image-like-btn:active {
  background-image: url(../../../images/gallery/like_active.svg);
  opacity: 1;
}
