.gallery__image-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  max-width: calc(240px - 22px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
